<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Coronam">
    <meta name="description" content="Mi Blog">
    <meta name="keywords" content="blog,foro,contenido">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">
    
    <title>Mi Blog</title>
</head>
<body>
    <header>
        <h1>Mi blog</h1>
    </header>
    <section>
        {% for post in posts %}
        <div class="post">    
            <h1><a href="" alt="Mi primer post">{{post.title}}</a></h1>
            <p>{{post.text|linebreaksbr}} </p>
            <p>Published: {{post.published_date}}</p>
        </div>
        {% endfor %}
    </section>
    <footer>&copy;Todos los derechos reservados - Coronam</footer>
</body>
</html>